@font-face {
    font-family: 'PolySans Median';
    src: url('../Fonts/polysans/PolySans Median.woff2') format('woff2'),
        url('../Fonts/polysans/PolySans Median.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6,
span.heading {
  font-family: 'PolySans Median' !important;
  font-weight: 700;
}
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

@font-face {
  font-family: 'Inter';
  src: url('../Fonts/inter/Inter-Regular.woff2') format('woff2'),
      url('../Fonts/inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p,
span,
div {
 font-family: 'Inter' !important;
}

.nav-item {
  position: relative;
}

.nav-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  height: 1.5px;
  width: 0;
  transition: all 0.4s linear;
}

.nav-item:hover::after {
  width: 100%;
}

.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-item {
  position: relative;
}

.slide-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000006e;
    z-index: 2;
}

.slideshow .content_form_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1150px;
}

.slideshow .content_form_wrapper .tab_content input{
    width: 260px;
}

.slideshow .content_form_wrapper .tab_content .tabcontent{
    display: none;
} 

.slideshow-slider button.slick-next {
  right: 2rem !important;
  background-image: url('../Images/Slideshows/next.png');
}

.slideshow-slider button.slick-prev {
  left: 2rem !important;
  background-image: url('../Images/Slideshows/prev.png');
}

button.slick-arrow:before {
  content: unset !important;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background-color: white !important;
}

button.slick-arrow {
  width: 40px;
  height: 40px;
  background-color: #cd8b24 !important;
  border-radius: 100%;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

.offer_wraper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}